<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Test</title>
</head>
<body>
    <!-- Hinweis -->
    <p id="loginResponse"></p>

    <!-- Login Section -->
    <div>
        <h1>Login</h1>
        <form id="loginForm">
            <input type="text" id="loginUsername" name="username" placeholder="Username" required> <br><br>
            <input type="password" id="loginPassword" name="password" placeholder="Password" required> <br><br>
            <button type="submit" id="loginButton" disabled>Login</button>
        </form>
    </div>

    <br><br>

    <!-- Register Section -->
    <div>
        <p id="registerResponse"></p>
        <h1>Register</h1>
        <form id="registerForm">
            <label>Username</label> <br>
            <input type="text" id="registerUsername" name="username" placeholder="Username" pattern=".{3,16}" required> <br><br>
            <label>E-Mail</label> <br>
            <input type="email" id="registerMail" name="registerMail" placeholder="E-Mail" required> <br><br>
            <label>Confirm E-Mail</label> <br>
            <input type="email" id="reregisterMail" name="reregisterMail" placeholder="Re-Enter E-Mail" required>
            <p id="mailerror" style="color: red; display: none;">E-Mails must match!</p> <br><br>
            <label>Password</label> <br>
            <input type="password" id="registerPassword" 
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" 
            name="password" placeholder="Password" required> <br><br>
            <label>Confirm Password</label> <br>
            <input type="password" id="reregisterPassword" name="confirmPassword" placeholder="Re-Enter Password" required>
            <p id="passworderror" style="color: red; display: none;">Passwords must match!</p> <br><br>
            <button type="submit" id="registerButton" disabled>Register</button>
        </form>
    </div>

    <!-- Skript laden -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
